.form-label {
    text-align: start;
}

error{
    font-size: 10px;
    color: #ff6774;
}

.addjob-title {
    color: #5e2724;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
}

.addjobs-body {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../../Images/banner.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}

.addjob-submit {
    font-size: 1rem;
    color: #fff;
    background: #8d7a79;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.addjob-back {
    font-size: 1rem;
    color: #fff;
    background: #756867;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease;
}

.addjob-message {
    background-color:#8d7a79;
    text-align: center;
}